html {
  background-image: url('./images/Star-wars.jpeg');
  background-size: 100%; 
  background-position: cover;

}

@font-face {
  font-family: 'Star Wars';
  src: url('fonts/Star Wars.ttf') format('truetype');
}

div.App {
  background-image: url('./images/Stars.jpeg');
}
.App {
  text-align: center;
}

:root {
  line-height: 1.5;
  font-weight: 200;
  color-scheme: light dark;
  color: rgba(152, 149, 149, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'Star Wars';
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
 
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
 
  border-color: #ff0505;
  border-width: 1px;
}

button:focus,
button:focus-visible {
  outline: 300px auto -webkit-focus-ring-color;
  border-color: aqua;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.table-container table {
  margin: 0 auto;
}

.table-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  z-index: 1;
}

.pagination li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.pagination li a {
  background-color: #726a6a;
  color: rgb(239, 201, 45);
  padding: 5px;
  border-radius: 5px;
  font-weight: 800; 
 
}

.active a {
  
}

.pagination a:hover {
  background-color: #ee0909;
  border-color: #ffbaba;
  border-width: 4px;
}

.table-footer p {
  margin-bottom: 0;
}

p {
  color: rgb(239, 201, 45);
}
